<h1>Register page</h1>
<form action="/user/register" method="POST">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Register</button>
</form>