<!DOCTYPE html>
<%- include partials/head %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="mobileNav col-12">
        <div class="wrapper">
          <nav class="mobile-nav">
            <ul>
              <li class="page-collection">
                <a href="/new-page">New Page</a>
              </li>
              <li class="gallery-collection">
                <a href="/">Home</a>
              </li>
              <li class="page-collection">
                <a href="/fire-tables">fire tables</a>
              </li>
              <li class="page-collection">
                <a href="/outdoor-kitchens">outdoor kitchens</a>
              </li>
              <li class="page-collection">
                <a href="/pergolas">pergolas</a>
              </li>
              <li class="page-collection">
                <a href="/read-me">about</a>
              </li>
              <li class="page-collection">
                <a href="/contact">contact</a>
              </li>
              <li class="page-collection active-link">
                <a href="/getting-started">Getting Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container-fluid mobileNavLink">
        <div class="row">
          <div>
            <a>Menu</a>
          </div>
        </div>
      </div>
      <div id="headerWrapper" class="container">
        <header id="header">
          <div id="logo" data-content-field="site-title">
            <h1 class="logo" data-shrink-original-size="26">
              <a href="/">
                <img
                  src="//static1.squarespace.com/static/55afc839e4b0764d76e73a0f/t/563a03c1e4b090ad9afc4b0b/1592854859966/?format=750w"
                  alt="Bay Pointe Outdoors">
              </a>
            </h1>
          </div>
          <div id="topNav">
            <nav class="main-nav dropdown-hover">
              <ul data-content-field="navigation">
                <li class="page-collection">
                  <a href="/new-page">New Page</a>
                </li>
                <li class="gallery-collection">
                  <a href="/">Home</a>
                </li>
                <li class="page-collection">
                  <a href="/fire-tables">fire tables</a>
                </li>
                <li class="page-collection">
                  <a href="/outdoor-kitchens">outdoor kitchens</a>
                </li>
                <li class="page-collection">
                  <a href="/pergolas">pergolas</a>
                </li>
                <li class="page-collection">
                  <a href="/read-me">about</a>
                </li>
                <li class="page-collection">
                  <a href="/contact">contact</a>
                </li>
                <li class="page-collection active-link">

                  <a href="/getting-started">Getting Started</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- <div id="backToThumbs">×</div> -->
        </header>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">